<footer class="footer fixed-bottom py-3 bg-dark text-white d-none">

    <div class="container">
        <div class="d-flex align-items-center justify-content-center gap-4">
            <div class="audio-player" style="margin: 0 auto; width: 100%;">
                <div class="timeline">
                    <div class="progress"></div>
                </div>
                <div class="controls">
                    <div class="play-container">
                        <div class="toggle-play play">
                        </div>
                    </div>
                    <div class="time">
                        <div class="current">0:00</div>
                        <div class="divider">/</div>
                        <div class="length"></div>
                    </div>
                    <div class="name">Music Song</div>
                    <!--     credit for icon to https://saeedalipoor.github.io/icono/ -->
                    <div class="volume-container">
                        <div class="volume-button">
                            <div class="volume icono-volumeMedium"></div>
                        </div>

                        <div class="volume-slider">
                            <div class="volume-percentage"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="float-end btn-toggler">
                <i class="fa-2x fa-solid fa-circle-chevron-up"></i>
            </div>
        </div>
        <div class="book-data mt-5"></div>
    </div>
</footer>